body{
    text-decoration: none;
    text-decoration-color: black;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Trebuchet MS;
    font-size: 13px;
}

header{
    background-color: none;
    width: 100%;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

main{
    position: relative;
    background-color: none;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}


/* ----- MENY ----- */

nav ul{
    list-style-type: none;
    padding:0;
    display: inline;
}


.title{
    height: 40px;
    width: 33%;
    float: left;
    padding-top: 0;
    font-size: 26px;
}

.meny{
    height: 30px;
    width: 66%;
    float: right;
    padding: 0;
    margin-right: 0;
    padding-top: 9px;
    font-size: 13px;
}

.meny li{
    float: right;
    padding-left: 15px;
}

.menytekst{
    color: gray;
}

.menytekst:hover{
	color: black;
}

.meny li .aktiv{
	color: black;
}

/*----------- MAIN PAGE -------------*/

.main_content_container{
    width: 100%;
}

.main_content{
    margin-top: 50px;
    text-align: center
}